
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="about-section">
    <h2>Shabna P</h2>
    <div class="about-content">
        <p>I’m a passionate Data Analyst and Full Stack Developer with expertise in Python, Django, and various data visualization tools...</p>
    </div>

    <h3>Certifications</h3>
    <div class="certificates-section">
        <!-- Certificate 1 -->
        <div class="certificate">
            <div class="cert-details">
                <h4>Accenture North America - Data Analytics and Visualization Job Simulation</h4>
                <p>Issued by: Forage(Accenture North America)</p>
                <p>Year: 2024</p>
                <p>Description: Gained expertise in data analysis and visualization using tools like Power BI and Tableau, focusing on business decision-making.</p>
                <p>Skills Earned: Data analysis, data visualization, using tools like Power BI and Tableau, interpreting data to make business decisions.</p>
            </div>
            <div class="cert-image">
                <img src="{% static 'images\certificates\Accenture Data Analytics.jpg' %}" alt="Certificate 1">
            </div>
        </div>

        <!-- Certificate 2 -->
        <div class="certificate">
            <div class="cert-details">
                <h4>PwC Switzerland - Power BI Job Simulation</h4>
                <p>Issued by: Forage (PwC Switzerland)</p>
                <p>Year: 2024</p>
                <p>Description:: Developed advanced skills in Power BI, including creating interactive dashboards, data modeling, and comprehensive reporting.</p>
                <p>Skills Earned: Advanced Power BI skills, creating interactive dashboards, data modeling, and reporting.</p>
            </div>
            <div class="cert-image">
                <img src="{% static 'images/certificates/PwC Switzerland__completion_certificate.jpg' %}" alt="Certificate 2">
            </div>
        </div>

         <!-- Certificate 10 -->
         <div class="certificate">
            <div class="cert-details">
                <h4>Tata Data Visualisation: Empowering Business with Effective Insights Job Simulation on Forage - October 2024</h4>
                <p>Issued by: Forage(Tata) </p>
                <p>Year: 2024</p>
                <p>Description: :Completed a simulation involving creating data visualizations for Tata Consultancy Services.Prepared questions for a meeting with client senior leadership.Created visuals for data analysis to help executives with effective decision making.</p>
                <p>Skills Earned:: Power BI skills, creating interactive dashboards, data modeling, DAX and visualization techniques..</p>
            </div>
            <div class="cert-image">
                <img src="{% static 'images/certificates/Tata Group-Datavisualization_certificate.jpg' %}" alt="Certificate 2">
            </div>
        </div>

           <!-- Certificate 3 -->
           <div class="certificate">
            <div class="cert-details">
                <h4>Data & Business Analyst</h4>
                <p>Issued by: Jobaaj Learnings </p>
                <p>Year: 2024</p>
                <p>Description: : Gained comprehensive skills in Microsoft Excel, Tableau, SQL, Power BI, Google Looker Studio and data analysis.</p>
                <p>Skills Earned: Advanced Power BI skills, creating interactive dashboards, data modeling, and reporting.</p>
            </div>
            <div class="cert-image">
                <img src="{% static 'images/certificates/Jobaajlearnings-Data & Business Analytics.jpg' %}" alt="Certificate 2">
            </div>
        </div>

          <!-- Certificate 4 -->
          <div class="certificate">
            <div class="cert-details">
                <h4>Python Full Stack Developer</h4>
                <p>Issued by: Inmakes Learning Hub</p>
                <p>Year: 2023</p>
                <p>Description: : Completed a full-stack development internship, gaining skills in Python, MySQL, Django, and Flask.</p>
                <p>Skills Earned:Python Programming Language, MySQL, Django, Flask, GitHub, Python Anywhere.</p>
            </div>
            <div class="cert-image">
                <img src="{% static 'images/certificates/Internship_certificate_inmakes_page-0001.jpg' %}" alt="Certificate 2">
            </div>
        </div>

          <!-- Certificate 5 -->
          <div class="certificate">
            <div class="cert-details">
                <h4>HackerRank Certification for Python</h4>
                <p>Issued by:HackerRank </p>
                <p>Year: 2024</p>
                <p>Description: : Demonstrated proficiency in Python programming.</p>
                <p>Skills Earned: Python Programming.</p>
            </div>
            <div class="cert-image">
                <img src="{% static 'images/certificates/hacker rank certificate.png' %}" alt="Certificate 2">
            </div>
        </div>

          <!-- Certificate 6 -->
          <div class="certificate">
            <div class="cert-details">
                <h4>Advanced Excel</h4>
                <p>Issued by: Jobaaj Learnings </p>
                <p>Year: 2023</p>
                <p>Description: Achieved proficiency in Excel for data manipulation, pivot tables, data cleaning, and reporting.  </p>
                <p>Skills Earned: Mastered data analysis and visualization techniques using advanced Excel functions, charts, and graphs.</p>
            </div>
            <div class="cert-image">
                <img src="{% static 'images/certificates/Jobaajlearnings-Excel_Certificate.jpg' %}" alt="Certificate 2">
            </div>
        </div>

          <!-- Certificate 7 -->
          <div class="certificate">
            <div class="cert-details">
                <h4>AI/ML Innovations - AWS</h4>
                <p>Issued by: AWS </p>
                <p>Year: 2024</p>
                <p>Description: : In-depth understanding of artificial intelligence and machine learning concepts, tools, and applications using AWS services.</p>
                <p>Skills Earned:  Artificial Intelligence and Machine Learning.</p>
            </div>
            <div class="cert-image">
                <img src="{% static 'images/certificates/aws crtfct.png' %}" alt="Certificate 2">
            </div>
        </div>

          <!-- Certificate 8 -->
          <div class="certificate">
            <div class="cert-details">
                <h4>Tableau</h4>
                <p>Issued by: Jobaaj Learnings </p>
                <p>Year: 2024</p>
                <p>Description: :Enhanced Power BI capabilities, focusing on data analysis, dashboard creation, and reporting.Learned to define and measure Key Performance Indicators (KPIs) for strategic business performance assessment.</p>
                <p>Skills Earned: Advanced Tableau skills, creating interactive dashboards, data modeling, and reporting.</p>
            </div>
            <div class="cert-image">
                <img src="{% static 'images/certificates/Jobaajlearnings-Dataanalytics_Tablaeu_Certificate.jpg' %}" alt="Certificate 2">
            </div>
        </div>

           <!-- Certificate 9 -->
           <div class="certificate">
            <div class="cert-details">
                <h4>Power BI</h4>
                <p>Issued by: Jobaaj Learnings </p>
                <p>Year: 2024</p>
                <p>Description: :Learned to define and measure Key Performance Indicators (KPIs) for strategic business performance assessment.</p>
                <p>Skills Earned:: Power BI skills, creating interactive dashboards, data modeling, DAX and visualization techniques..</p>
            </div>
            <div class="cert-image">
                <img src="{% static 'images/certificates/Jobaajlearnings-Certificate PowerBi biginner to Advance.jpg' %}" alt="Certificate 2">
            </div>
        </div>

           <!-- Certificate 11-->
           <div class="certificate">
            <div class="cert-details">
                <h4>Prompt Engineering for ChatGpt</h4>
                <p>Issued by: Great Learning</p>
                <p>Year: 2024</p>
                <p>Description: : Gained comprehensive skills in Prompt engineering.</p>
                <p>Skills Earned: Advanced Prompting</p>
            </div>
            <div class="cert-image">
                <img src="{% static 'images/certificates/Greatlrng.prmpt eng.jpg' %}" alt="Certificate 2">
            </div>
        </div>

    </div>
</div>
{% endblock %}

