{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shabna's Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-brand">
                <a href="{% url 'home' %}">
                    <span class="logo">𝔖𝔥𝔞𝔟𝔫𝔞</span>
                </a>
            </div>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'projects' %}">Projects</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <a href="mailto:shabnap40@gmail.com" aria-label="Email"><i class="fas fa-envelope"> | shabnap40@gmail.com</i></a>
            </ul>
        </nav>
    </header>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="message {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Shabna. All rights reserved.</p>
        <a href="https://www.linkedin.com/in/shabna-shereef-159588324/" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/shabnashabz" target="_blank" aria-label="GitHub"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/__sh_ab_na_s/?__pwa=1" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="mailto:shabnap489@gmail.com" aria-label="Email"><i class="fas fa-envelope"></i></a>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
