
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="about-section">
    <h2>My Projects</h2>
    <div class="about-content">
        <p>Full Stack Developer & Data Analyst – Projects Overview
            As a versatile professional with a strong foundation in both data analysis and full-stack web development, I have developed and delivered a variety of projects that showcase my technical skills and problem-solving abilities. My projects span from interactive data visualizations and business analytics to dynamic web applications built using modern web development frameworks.</p>
            
           <h4> Data Analysis Projects:</h4>
           <p> I specialize in analyzing and visualizing data to drive informed business decisions. Utilizing tools such as Power BI, Tableau, Microsoft Excel, and Python, I’ve delivered insightful analytics solutions across different domains:</p>
            
           <p> Global Furniture Sales Analysis (2021-2022): Analyzed global sales data, visualizing key metrics like revenue, margins, and product performance using Power BI.</p>
        <p>Spotify Dataset Exploration: Performed advanced SQL queries on Spotify track data to analyze trends in music consumption and identify top-performing tracks and artists.</p>
    <p> Global EV Sales Analysis (2010-2024): Conducted sales trend analysis of electric vehicles, providing insights into global adoption patterns and key markets using Python and Power BI.</p>
<p> Video Game Sales Analysis: Delivered insights into video game sales across platforms, identifying trends and helping stakeholders understand market dynamics.</p>
           <h4> Full Stack Web Development Projects:</h4>
        <p> With expertise in Python Django, HTML/CSS, JavaScript, and MySQL, I’ve created robust web applications that focus on user experience, functionality, and scalability:</p>
            
    <p>Personal Portfolio Website: Built and deployed a dynamic personal portfolio website showcasing my projects, skills, and achievements, leveraging Django’s capabilities and front-end design.</p>
<p>Online Shopping Platform: Developed a full-fledged e-commerce website with features like user authentication, product catalog, shopping cart, and order management using Django and MySQL.</p>
<p> Travel Website: Created an engaging travel website that allows users to search, explore, and book travel packages, utilizing Django and an integrated MySQL database.</p>
</> HR Dashboard Project: Built a human resources analytics dashboard using Tableau to monitor and visualize workforce metrics, including employee performance and retention rates.</p>
    </div>

    <h3>Projects</h3>
    <div class="certificates-section">
        <!-- Certificate 1 -->
        <div class="certificate">
            <div class="cert-details">
                <h4>Amazon Sales Dashboard Creation</h4>
                <p>Year: Sep 2024 </p>
                <p>Description: Developed an intricate dashboard using Microsoft Excel to track and visualize Amazon’s sales data for the year 2024. The project involved analyzing large datasets to display key performance indicators such as total sales revenue, units sold, and distribution across cities and states in India. Utilized advanced Excel features like pivot tables, charts (pie chart & line graph), and conditional formatting to create an interactive tool that provides insights into product performance and market trends.</p>
                <p>Skills Earned: Data analysis, data visualization, Advanced Excel,Chart and Graphs.</p>
                <a href=" https://github.com/shabnashabz/Amazon_sales_excel" class="btn btn-primary">View Project</a>
                
            </div>
            <div class="cert-image">
                <img src="{% static 'images\certificates\Amazonsale.png' %}" alt="Certificate 1">
            </div>
        </div>

        <!-- Certificate 2 -->
        <div class="certificate">
            <div class="cert-details">
                <h4>
                    Netflix Movies and TV Shows Data Analysis using SQL</h4>
                <p>Year: Sep 2024</p>
                <p>Description:This project involves a comprehensive analysis of Netflix's movies and TV shows data using SQL. The goal is to extract valuable insights and answer various business questions based on the dataset. The following README provides a detailed account of the project's objectives, business problems, solutions, findings, and conclusions</p>
                <p>Skills Earned: Data Analysis · SQL · Databases · PostgreSQL · Problem Solving · Statistical Data Analysis.</p>
            <a href="https://github.com/shabnashabz/Netflix" class="btn btn-primary">View Project</a>
        </div>

            <div class="cert-image">
                <img src="{% static 'images/certificates/netflixsql.png' %}" alt="Certificate 2">
            </div>
        </div>

         <!-- Certificate 10 -->
         <div class="certificate">
            <div class="cert-details">
                <h4>
                    Spotify Advanced SQL Project and Query Optimization P-6</h4>
                <p>Year:Sep 2024</p>
                <p>Description: :This project involves analyzing a Spotify dataset with various attributes about tracks, albums, and artists using SQL. It covers an end-to-end process of normalizing a denormalized dataset, performing SQL queries of varying complexity (easy, medium, and advanced), and optimizing query performance. The primary goals of the project are to practice advanced SQL skills and generate valuable insights from the dataset.</p>
                <p>Skills Earned:Data Analysis · Data Cleaning · SQL · Query Optimization</p>
        
                 <a href="https://github.com/shabnashabz/Spotify" class="btn btn-primary">View Project</a>
            </div>

            <div class="cert-image">
                <img src="{% static 'images/certificates/spotifysql.png' %}" alt="Certificate 2">
            </div>
        </div>

           <!-- Certificate 3 -->
           <div class="certificate">
            <div class="cert-details">
                <h4>Dynamic 
                    Sales Dashboard 2023</h4>
                <p>Year: Aug 2024</p>
                <p>Description: Created a dynamic sales dashboard that tracks and visualizes key performance indicators such as total sales, profit, and quantity. The dashboard compares year-over-year performance, highlights the highest and lowest performing months, and provides a detailed breakdown of sales and profits by subcategory. It also tracks trends over time, offering actionable insights for sales strategy optimization.</p>
                <p>Skills Earned:Data Analysis · Data Modeling · Data Cleaning · Tableau · Data Visualization · Statistical Data Analysis · DAX · Problem Solving · Key Performance Indicators</p>
          
            <a href="https://github.com/shabnashabz/Dynamic_excel_Dashboard" class="btn btn-primary">View Project</a>
        </div>

            <div class="cert-image">
                <img src="{% static 'images/certificates/Dynamic_Dashboard.png' %}" alt="Certificate 2">
            </div>
        </div>

          <!-- Certificate 4 -->
          <div class="certificate">
            <div class="cert-details">
                <h4>
                    Global Air Pollution Analysis</h4>
                
                <p>Year: Jun 2024</p>
                <p>Description: Analyzed global air pollution data using Python, focusing on key pollutants across various regions. This project involved data cleaning, visualization, and statistical analysis to uncover trends in air quality over time. The insights derived help identify areas with critical pollution levels and track progress in air quality improvements.</p>
                <p>Skills Earned: Matplotlib · Seaborn · SciPy · Pandas (Software) · NumPy · Python (Programming Language)</p>
          
            <a href="https://github.com/shabnashabz/global_air_pollution" class="btn btn-primary">View Project</a>
        </div>

            <div class="cert-image">
                <img src="{% static 'images/certificates/globalair.png' %}" alt="Certificate 2">
            </div>
        </div>

          <!-- Certificate 5 -->
          <div class="certificate">
            <div class="cert-details">
                <h4>
                    Dark Side of Social Media Analysis</h4>
            
                <p>Year: 2024</p>
                <p>Description: Analyzed social media usage data to uncover patterns related to the negative effects of social media, such as addiction, mental health impacts, and privacy concerns. Using Python, I processed and visualized data to provide insights into how prolonged social media usage correlates with well-being and societal trends.</p>
                <p>Skills Earned:  Data Analysis · Data Modeling · Seaborn · Pandas (Software) · NumPy · Python (Programming Language)</p>
                <a href="https://github.com/shabnashabz/Time_wasters_on-social_media" class="btn btn-primary">View Project</a>
            </div>
            <div class="cert-image">
                <img src="{% static 'images/certificates/timewasters.png' %}" alt="Certificate 2">
            </div>
        </div>

          <!-- Certificate 6 -->
          <div class="certificate">
            <div class="cert-details">
                <h4>
                    Global EV Sales(2010-2024)</h4>
                
                <p>Year: July 2024</p>
                <p>Description: Conducted an in-depth analysis of global electric vehicle (EV) sales trends from 2010 to 2024 using Python on Kaggle. The project involved data cleaning, visualization, and trend analysis to uncover key insights in the rapid growth of the EV market. The analysis provides a comprehensive view of regional sales distributions, market growth patterns, and projections for the coming years.</p>
                <p>Skills Earned:Matplotlib · Seaborn · Pandas (Software) · NumPy · Python (Programming Language) · Data Visualization · Problem Solving</p>
           
            <a href="https://github.com/shabnashabz/Global_Ev_Sales" class="btn btn-primary">View Project</a>
        </div>

            <div class="cert-image">
                <img src="{% static 'images/certificates/globalevsales.png' %}" alt="Certificate 2">
            </div>
        </div>

          <!-- Certificate 7 -->
          <div class="certificate">
            <div class="cert-details">
                <h4>Global Furniture Sales 2021-2022 Power BI Project</h4>
              
                <p>Year: 2024</p>
                <p>Description:This project analyzes global furniture sales data for the years 2021 and 2022. It visualizes key metrics like revenue, margin, item count, and salesperson performance using **Power BI**. The dashboard allows users to filter data by product, region, customer, and salesperson.</p>
                <p>Skills Earned:Power BI skills, creating interactive dashboards, data modeling, DAX and visualization techniques.</p>
            <a href="https://github.com/shabnashabz/globalfutniture" class="btn btn-primary">View Project</a>
        </div>

            <div class="cert-image">
                <img src="{% static 'images/certificates/globalfurntr.png' %}" alt="Certificate 2">
            </div>
        </div>

          <!-- Certificate 8 -->
          <div class="certificate">
            <div class="cert-details">
                <h4>Travel Website</h4>
                
                <p>Year: 2023</p>
                <p>Description: Overview Travello is a fully functional travel website designed to inspire users to explore new destinations. Built using Python Django and MySQL, this site allows users to learn about various destinations, register an account, and connect with the team for further inquiries. The website features a clean design and an intuitive user interface to ensure a smooth browsing experience.</p>
                <p>Skills Earned: Python, Django, MySql, Python Anywhere</p>
          
            <a href="https://github.com/shabnashabz/Travel" class="btn btn-primary">View Project</a>
        </div>

            <div class="cert-image">
                <img src="{% static 'images/certificates/travel_work.png' %}" alt="Certificate 2">
            </div>
        </div>

           <!-- Certificate 9 -->
           <div class="certificate">
            <div class="cert-details">
                <h4>
                    Credit Card Report</h4>
                
                <p>Year: 2024</p>
                <p>Description: Revenue Breakdown: Explored revenue distribution across product subcategories (Silver, Blue, Gold, etc.).Education Impact: Analyzed revenue by education level—valuable insights for targeted marketing strategies.</p>
                <p>Skills Earned: Power BI skills, creating interactive dashboards, data modeling, DAX and visualization techniques.</p>
            
            <a href="https://github.com/shabnashabz/Credit_card_finance_dashboard" class="btn btn-primary">View Project</a>
        </div>

            <div class="cert-image">
                <img src="{% static 'images/certificates/creditbi.png' %}" alt="Certificate 2">
            </div>
        </div>

           <!-- Certificate 11-->
           <div class="certificate">
            <div class="cert-details">
                <h4>
                    Human Resources Dashboard using Tableau</h4>
        
                <p>Year: 2024</p>
                <p>Description: Developed a comprehensive HR dashboard in Tableau to visualize key metrics such as hiring trends, departmental headcounts, employee demographics, and income analysis. The dashboard empowers HR teams to make data-driven decisions by providing insights into workforce distribution, performance, and salary trends across various demographics</p>
                <p>Skills Earned: Data Analysis · Data Cleaning · Tableau · Data Visualization</p>
           
            <a href="https://github.com/shabnashabz/HR-Dashborad-Tableau" class="btn btn-primary">View Project</a>
        </div>

            <div class="cert-image">
                <img src="{% static 'images/certificates/HR___Summarydash.png' %}" alt="Certificate 2">
            </div>
        </div>

    </div>
</div>
{% endblock %}

